log/development.log
db/development.sqlite3.db
tmp
public/assets
public/images/3rd_pitch_bg.jpg
public/images/dwn_arrow.gif
public/images/icn_nav.gif
public/images/lightbox/lightbox-blank.gif
public/images/lightbox/lightbox-btn-close.gif
public/images/lightbox/lightbox-btn-next.gif
public/images/lightbox/lightbox-btn-prev.gif
public/images/lightbox/lightbox-ico-loading.gif
public/javascripts/gateway.js
public/javascripts/hoverIntent.js
public/javascripts/jquery.dropdown.js
public/javascripts/jquery.lightbox.js
public/javascripts/jquery.validate.min.js
public/stylesheets/baseShop.css
public/stylesheets/dropdown.css
public/stylesheets/dropdown_flickr.css
public/stylesheets/ie.css
public/stylesheets/lightbox.css
public/stylesheets/qpomo.css
db/schema.rb
.project
vendor/extensions/site/app/views/checkouts/.tmp__payment.html.erb.65620~
vendor/extensions/site/app/views/layouts/.tmp_application.html.erb.97122~
vendor/extensions/site/app/views/shared/.tmp__baseShop.html.erb.84480~
vendor/extensions/site/app/views/shared/.tmp__head.html.erb.14874~
vendor/extensions/site/app/views/shared/.tmp__main_nav.html.erb.98125~
vendor/extensions/site/app/views/shared/.tmp__qpomo.html.erb.7447~
vendor/extensions/site/app/views/shared/.tmp__search.html.erb.10560~
public/javascripts/dashboard.js
public/javascripts/jqPlot/excanvas.min.js
public/javascripts/jqPlot/jquery.jqplot.min.js
public/javascripts/jqPlot/plugins/jqplot.canvasAxisLabelRenderer.min.js
public/javascripts/jqPlot/plugins/jqplot.canvasAxisTickRenderer.min.js
public/javascripts/jqPlot/plugins/jqplot.canvasTextRenderer.min.js
public/javascripts/jqPlot/plugins/jqplot.categoryAxisRenderer.min.js
public/javascripts/jqPlot/plugins/jqplot.dateAxisRenderer.min.js
public/javascripts/jqPlot/plugins/jqplot.highlighter.min.js
public/javascripts/jqPlot/plugins/jqplot.pieRenderer.min.js
public/stylesheets/admin/dashboard.css
public/stylesheets/queso.css
.loadpath
public/images/admin/bg/spree_50.png~
public/stylesheets/sass/baseShop.sass
public/stylesheets/compiled/baseShop.css
public/stylesheets/vino.css